@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Paytone+One&display=swap');

* {
    font-family: 'Open Sans', sans-serif;    ;
}

.main-container {
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    cursor: default;
}

.header {
    font-size: 38pt;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-family: 'Paytone One', sans-serif;
    color: #636363;
}

.game-container {
    width: 640px;
    height: 640px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 0 auto;
    border: 5px solid #efefef;
    border-radius: 5px;
}

.white {
    background-color: white;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    background-color: #efefef;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checker.black {
    background-color: #007be0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.checker.white {
    background-color: #ffa0c4;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.border {
    border: 5px solid #ffae00;
}