@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

html {
    --featured-img: linear-gradient(180deg,#ffffff,#262626);
    --bg-blend-mode: overlay;
    background-color: #262626;
    background-repeat: no-repeat;
    background-image: radial-gradient(50% 70% at top center,rgba(0,0,0,.55),#262626),var(--featured-img);
    background-size: 100% 2000px,100% 2000px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.main-container {
    max-width: 100%;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    cursor: default;
    justify-content: center;
    align-items: center;
}

.game-board-container {
    width: fit-content;
    background-color: #efefef;
    padding: 10px;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
}

.header {
    padding: 5px;
    display: flex;
    justify-content: center;
    text-shadow: 2px 3px 0px rgb(250, 211, 211);
    font-family: 'Titan One', sans-serif;
    font-size: 68pt;
    color: #db5858;
    background-color: #ffffff;
    border-radius: 10px;
    /* margin-bottom: 15px; */
}

.footer-container {
    display: flex;
    justify-content: right;
    margin-top: 5px;
}

.footer {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #efefef;
    height: 50px;
    font-family: 'Titan One', sans-serif;
    font-size: 14pt;
}

.player-checker {
    margin-right: 10px;
}

.score {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #2795e4;
    border-radius: 10px;
    height: 50px;
    font-family: 'Titan One', sans-serif;
    font-size: 14pt;
}

.scores {
    height: 25px;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.scores.black {
    background-color: black;
    color: white;
}

.game-container {
    width: 640px;
    height: 640px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 0 auto;
    border: 5px solid #efefef;
    border-radius: 10px;
}

.whiteSpace {
    background-color: white;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blackSpace {
    background-color: #efefef;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open {
    background-color: #d3ffbe;
    cursor: pointer;
}

.checker.black {
    /*background-color: dodgerblue;*/
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.checker.white {
    /*background-color: #ffa0c4;*/
    background-color: white;
    border: 1px solid grey;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.checker.king {
    border: 3px solid gold;
}

.border {
    border: 5px solid #ff00a2;
}

/* The Modal (background) - from https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}
  
.modal-content {
    background-color: #efefef;
    margin: 25% auto; /* 15% from the top and centered */
    padding: 30px;
    border-radius: 40px;
    width: 410px; /* Could be more or less, depending on screen size */
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-text {
    font-family: 'Titan One', sans-serif;
    font-size: 34pt;
    -webkit-text-stroke: 2px black;
    text-shadow: 2px 2px 0px rgb(170, 170, 170);
    color: white;
}
  
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 28pt;
    padding: 5px;
    cursor: pointer;
    background-color: #fefefe;
    width: fit-content;
    border-radius: 10px;
    margin-top: 10px;
}
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 540px) {
    .game-container {
        width: 368px;
        height: 368px;
    }

    .whiteSpace {
        width: 46px;
        height: 46px;
    }

    .blackSpace {
        width: 46px;
        height: 46px;
    }

    .checker.white, .checker.black {
        width: 20px;
        height: 20px;
    }

    .header, .header span {
        font-size: 48pt;
    }

    .footer {
        width: fit-content;
        font-size: 12pt;
    }

    .score {
        width: 125px;
        font-size: 12pt;
    }

    .scores {
        margin-left: 5px;
    }
    
    .modal-content {
        width: 75%;
        margin: 50% auto;
        padding: 15px;
    }

    .modal-text {
        font-size: 24pt;
    }
}