@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

body {
    font-family: 'Open Sans', sans-serif;    ;
}

.main-container {
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    cursor: default;
}

.header {
    padding: 10px;
    display: flex;
    justify-content: center;
    font-family: 'Titan One', sans-serif;
    font-size: 68pt;
    color: #9d0000;
}

.header span {
    font-family: 'Titan One', sans-serif;
    font-size: 68pt;
    color: black;
}

.footer-container {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #efefef;
    border-radius: 0 0 10px 10px;
    width: 200px;
    height: 50px;
    font-family: 'Titan One', sans-serif;
    font-size: 14pt;
}

.game-container {
    width: 640px;
    height: 640px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 0 auto;
    border: 5px solid #efefef;
    border-radius: 5px;
}

.whiteSpace {
    background-color: white;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blackSpace {
    background-color: #efefef;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open {
    background-color: #d3ffbe;
    cursor: pointer;
}

.checker.black {
    /*background-color: dodgerblue;*/
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.checker.white {
    /*background-color: #ffa0c4;*/
    background-color: white;
    border: 1px solid grey;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.border {
    border: 5px solid #ff00a2;
}

@media screen and (max-width: 540px) {
    .game-container {
        width: 368px;
        height: 368px;
    }

    .whiteSpace {
        width: 46px;
        height: 46px;
    }

    .blackSpace {
        width: 46px;
        height: 46px;
    }

    .checker.white, .checker.black {
        width: 20px;
        height: 20px;
    }

    .header, .header span {
        font-size: 48pt;
    }

    .footer {
        margin: 0 0 10px 0;
    }
}